{% extends "base_authentication.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <h2  style="color: white;">Password reset</h2><br>
    <div style="width: 70%; margin-left: 30%">
    <p  style="color: white; width: 70%">Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="post"  style="color: white">
        {{  form.as_p }}
        {% csrf_token %}
         <a href="{% url 'login' %}"><ion-icon name="arrow-back-circle-outline" style="width: 25px; height: 24px;"></ion-icon></a>
         <input type="submit" class="btn" style="background-color: white;"value="Send email">
    </form>

    </div>
{% endblock %}
{% block scripts %}
        {% for msg in messages %}
             alertify.set('notifier','position', 'top-center');
             alertify.success('{{ msg }}');
         {% endfor %}
{% endblock %}
