{% extends "base_authentication.html" %}
{% load static %}
{%  block title %}Login{% endblock %}

{% block content %}
        <form action="" method="post">
            {% csrf_token %}
            <h2>Log in</h2>
            <div class="inputbox">
                <ion-icon name="person-circle-outline"></ion-icon>
                <input type="text" required name="username">
                <label for="">Username</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" required name="password">
                <label for="">Password</label>
            </div>
            <input type="hidden" name="next" value="{{  next  }}">
             <div class="register">
                <input class="btn" style="background-color: white" type="submit" value="Login">
            </div>
            <br>
            <div style="margin: -4% 6% -15px; font-size: 1.02vw; color: #fff; text-align: left">
                Forget your password? Go <a href="{% url 'reset_password' %}" style="color: #fff;">here</a><br>
                You don't have an account? Sign up <a href="{% url 'signup' %}" style=" color: #fff">here</a>
            </div>

        </form>

{% endblock %}
{% block scripts %}
        {% for msg in messages %}
             alertify.set('notifier','position', 'top-center');
             alertify.success('{{ msg }}');
         {% endfor %}
{% endblock %}


