{% extends "base_authentication.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}
    <h2  style="color: white;">Enter new password</h2>
    <div style="margin-left: 20%; width: 75%">
    <p  style="color: white;">Please enter new password twice, so we can verify you typed it correctly.</p>
        <form method="post"  style="color: white">
        {{  form.as_p }}
        {% csrf_token %}
        <input type="submit" class="btn" style="background-color: white; margin-left: 20%;" name ="Update Password">
    </form>

    </div>
{% endblock %}
{% block scripts %}
        {% for msg in messages %}
             alertify.set('notifier','position', 'top-center');
             alertify.success('{{ msg }}');
         {% endfor %}
{% endblock %}
