{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet"/>
  
    <title>HomePage</title>

  </head>
  <body>
    <header>
        <div class="menu_side">
            <h1>Musics</h1>
            <div class="playlist">
                <h4 class="active"><span></span><i class="bi bi-music-note-beamed"></i> Favourites</h4>
                <h4 class="active"><span></span><i class="bi bi-music-note-beamed"></i> Playlist</h4>
                <!-- <h4 ><span></span><i class="bi bi-music-note-beamed"></i> Last Listening</h4>
                <h4 ><span></span><i class="bi bi-music-note-beamed"></i> Recommended</h4> -->
            </div>
            <div class="menu_song">
                {% for song in random_songs %}
                    <li class="songItem">
                        <span>{{forloop.counter}}</span>
                        <img src="{{song.image.url}}" alt="img">
                        <h5>
                            {{song.name}}
                            <div class="subtitle">{{song.singer}}</div>
                        </h5>
                        <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
                        <audio src="{{song.song.url}}"></audio>
                    </li>
                {% endfor %}
            </div>
        </div>
    
    
        <div class="song_side">
            <nav>
                <ul>
                    <a href="/" style=" text-decoration: none;"><li>Home <span></span></li></a>
                    <a href="{% url 'search'%}" style=" text-decoration: none;"><li>Search</li></a>
                    <li>Profile</li>
                    <li>Favourite List</li>
                    <li>My Library</li>
                </ul>
                <ul>
                <li><form action="{% url 'search' %}" method="get" class="d-flex">
                    <input class="search" type="text" name="query" placeholder="Search Music..." aria-label="Search" style="width:200px;height:35px;opacity:0.3;margin-top:15px;">
                    <button class="btn1" type="submit" style="width:30px;height:30px;margin-top:20px;opacity:0.3;border-radius:10px;color:black">Go</button>
                  </form>
                </li>
                </ul>
                <ul>
                    <li>Login</li>
                    <li>Register</li>

                </ul>
                <div class="user">
                    <img src="" alt="User" title="User">
                </div>
            </nav>
            <div class="content">
                <h1>Recommended Playlist</h1>
                <p>
                    You were the shadow to my light Did you feel us Another start You fade 
                    <br>
                    Away afraid our aim is out of sight Wanna see us Alive
                </p>
                <div class="buttons">
                    <a href="#"><button>PLAY</button></a>
                    <button>FOLLOW</button>
                </div>
            </div>
    
        <div class="master_play">
            <div class="wave">
                <div class="wave1"></div>
                <div class="wave1"></div>
                <div class="wave1"></div>
            </div>
            <img src="../media/images/Lose_Yourself.jpg" alt="" id="poster_master_play">
            <h5 id="title">Song<br>
                <div class="subtitle">Arthist Name</div>
            </h5>
            <div class="icon">
                <i class="bi bi-skip-start-fill" id="back"></i>
                <i class="bi bi-play-fill" id="masterPlay"></i>
                <i class="bi bi-skip-end-fill" id="next"></i>
            </div>
            <span id="currentStart">0:00</span>
            <div class="bar">
                <input type="range" id="seek" min="0" value="0" max="100">
                <div class="bar2" id="bar2"></div>
                <div class="dot"></div>
            </div>
            <span id="currentEnd">0:00</span>
    
            <div class="vol">
                <i class="bi bi-volume-down-fill" id="vol_icon"></i>
                <input type="range" id="vol" min="0" value="30" max="100">
                <div class="vol_bar"></div>
                <div class="dot" id="vol_dot"></div>
            </div>
        </div>
    </header>
  </body>
</html>